@page "/task04"

<h3>Task04</h3>

<h6>
    Check the generated file from the previous step using JAXB if it is in
    accordance with the default XSD file.
</h6>

<h4>This part of the project was done is Java and is not available here.</h4>

@code {

}
